:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background-image: url(./assets//images/ethereal-natural-environment.jpg);
  background-size: cover;
}